
a {
    text-decoration: none;
    color: var(--a-color);
    transition: 0.7s;
}

a:hover {
    color: var(--venetian-red);
    font-size: 1.1em;
}

footer {
    padding: 1.5rem 0rem 1rem 0rem;
    position: absolute;
    bottom: -1px;
    left: 0.25rem;
    right: 0.25rem;
}


.credits {
color: var(--credits-color);
}