:root {
  --barn-red: #780000;
  --venetian-red: #C1121F;
  --papaya-whip: #FDF0D5;
  --prussian-blue: #003049;
  --air-blue: #669BBC;
  --papaya-rgba: rgba(253, 240, 213, 0.6);

  --border-comp: 1px;

  --appBackGradien: radial-gradient(180vw ,#60efff, #0061ff);
  --title-color: var(--papaya-whip);
  --border-comp-color: var(--prussian-blue);
  --back-comp-color: var(--papaya-rgba);
  --city-text-color: var(--prussian-blue);

  --btn-normal: var(--venetian-red);
  --btn-hover-x: var(--papaya-whip);

  --credits-color: var(--prussian-blue);
  --a-color: var(--papaya-whip);

  background: var(--appBackGradien);
}

a {
  text-decoration: none;
  color: var(--a-color);
  transition: 0.7s;
}

a:hover {
  color: var(--venetian-red);
  font-size: 1.1em;
  text-decoration: underline;
}

body h1{
  text-align: center;
  margin: auto;
  padding: 2rem 0rem 1.5rem 0rem;
  color: var(--title-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer > div {
text-align: center;
padding: 1.5rem 0rem 1rem 0rem;
}

.credits {
  color: var(--credits-color);
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
};
